<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.management.mapper.AdminMapper">



	<select id="adminTeachListAll" resultType="com.mgr.dto.AdminTeachVO" parameterType="com.mgr.dto.AdminTeachVO">
		SELECT teacher_id,
		teacher_name, teacher_ssn, teacher_phone,
		TO_CHAR(teacher_hiredate,
		'YYYY-MM-DD') AS teacher_hiredate, (SELECT
		COUNT(*) FROM teach_sub
		WHERE teacher_id = o1.teacher_id) AS count_
		FROM teacher o1
		<if test="key != null and value != ''">
			WHERE INSTR(${key}, #{value})>0
		</if>
		 ORDER BY teacher_id
	</select>


	<select id="adminBasicSubList" resultType="com.mgr.dto.AdminTeachVO">
		SELECT subject_id,
		subject_name FROM subject ORDER BY subject_id
	</select>

	<!-- 강사정보 등록을 위한 id 찾기 -->
	<select id="adminTeachId" resultType="java.lang.String">
		SELECT
		CONCAT('TCH',LPAD((NVL(MAX(SUBSTR(teacher_id,4)), 0)+1), 3, '0') ) AS
		teacher_id FROM teacher
	</select>



	<select id="adminTeachSublist" resultType="com.mgr.dto.AdminTeachVO"
		parameterType="String">
		SELECT o1.teacher_id, teacher_name, teacher_phone,
		o2.subject_id, subject_name
		FROM teacher o1 LEFT OUTER JOIN teach_sub
		o2 ON o1.TEACHER_ID = o2.TEACHER_ID
		LEFT OUTER JOIN subject o3 ON
		o2.SUBJECT_ID = o3.SUBJECT_ID WHERE o1.teacher_id = #{teacher_id}
		ORDER BY o1.teacher_id
	</select>

	<select id="adminTeachNocheck" resultType="com.mgr.dto.AdminTeachVO"
		parameterType="String">
		SELECT o3.subject_id FROM teacher o1
		INNER JOIN teach_sub
		o2 ON o1.teacher_id = o2.teacher_id
		INNER JOIN subject
		o3 ON
		o2.subject_id = o3.subject_id
		INNER JOIN open_sub o4 ON
		o1.teacher_id =
		o4.teacher_id AND o3.SUBJECT_ID = o4.SUBJECT_ID
		WHERE
		o1.teacher_id =
		#{teacher_id}
		GROUP BY o3.subject_id
	</select>

	<delete id="adminTeachDelsub" parameterType="String">
		DELETE FROM
		teach_sub WHERE teacher_id=#{teacher_id}
		AND subject_id IN(SELECT
		o2.subject_id FROM teacher o1
		LEFT OUTER JOIN
		teach_sub o2 ON
		o1.TEACHER_ID = o2.TEACHER_ID
		LEFT OUTER JOIN subject
		o3 ON
		o2.SUBJECT_ID = o3.SUBJECT_ID
		LEFT OUTER JOIN open_sub o4 ON
		o1.TEACHER_ID = o4.TEACHER_ID AND o4.SUBJECT_ID = o3.SUBJECT_ID
		WHERE
		o1.TEACHER_ID = #{teacher_id} AND o4.subject_id NOT IN
		(SELECT
		subject_id FROM open_sub WHERE subject_id = o4.subject_id))
	</delete>


	<insert id="adminTeachsubInsert" parameterType="com.mgr.dto.AdminTeachVO">
		INSERT INTO
		teach_sub (teacher_id, subject_id) VALUES (#{teacher_id},
		#{subject_id})
	</insert>

	<insert id="adminTeachadd" parameterType="com.mgr.dto.AdminTeachVO">
		INSERT INTO teacher
		(teacher_id, teacher_name, teacher_ssn, teacher_phone) VALUES
		(#{teacher_id}, #{teacher_name}, #{teacher_ssn}, #{teacher_phone})
	</insert>


	<update id="adminTeachModifyinfo" parameterType="com.mgr.dto.AdminTeachVO">
		UPDATE teacher
		SET teacher_name=#{teacher_name},
		teacher_ssn=#{teacher_ssn},
		teacher_phone=#{teacher_phone} WHERE teacher_id=#{teacher_id}
	</update>



	<!-- 강사 관리 삭제 비활성화 체크, 개설과목과 연결되있는지 확인 -->
	<select id="adminTeachdisable1" resultType="com.mgr.dto.AdminTeachVO" parameterType="com.mgr.dto.AdminTeachVO">
		SELECT o1.teacher_id
		AS
		teacher_id FROM teacher o1 INNER JOIN open_sub o2 ON o1.TEACHER_ID =
		o2.TEACHER_ID 
		
		<if test="key != null and value != ''">
			WHERE INSTR(o1.${key}, #{value})>0
		</if>
		GROUP BY o1.teacher_id
		 ORDER BY o1.teacher_id
	</select>


	<!-- 강사 관리 삭제 비활성화 체크, 강의가능과 연결되있는지 확인 -->
	<select id="adminTeachdisable2" resultType="com.mgr.dto.AdminTeachVO" parameterType="com.mgr.dto.AdminTeachVO">
		SELECT o1.teacher_id
		AS
		teacher_id FROM teacher o1 INNER JOIN teach_sub o2 ON o1.TEACHER_ID	= o2.TEACHER_ID
		<if test="key != null and value != ''">
			WHERE INSTR(o1.${key}, #{value})>0
		</if>
		
		 GROUP BY o1.teacher_id ORDER BY o1.teacher_id
	</select>



	<delete id="adminTeachDel" parameterType="String">
		DELETE FROM teacher WHERE teacher_id =#{teacher_id}
	</delete>



</mapper>